/* Z-INDEXING */
header, footer {
  z-index:    1;
}
main {
  z-index:    0;
  box-shadow:
    0 -50vh 0vh 50vh #151515,
    0  50vh 0vh 50vh #090909;
}

/* ROOT */
#root {
  margin:         0 auto;
  padding:        0;
  display:        flex;
  flex-direction: column;
  text-align:     center;
}
#root > * {
  padding:          3rem 1rem;
}
  header {
    padding-bottom: 1rem !important;
  }
  footer {
    padding-top:    1rem !important;
  }
h1, h2 {
  margin-top:     0;
  margin-bottom:  0.2rem;
}
#h2-hack {
  margin-top: 19.92px !important;
}
h1 {
  font-size:  3rem;
}
@media (max-width: 150px) {
  /* BUG: unstyled page height grows inversely as width shrinks <~150px */
  /* introduced here rather than always since it cuts off box shadows */
  #root {
    overflow: hidden;
  }
}

/* HEADER */
header {
  display:          flex;
  justify-content:  center;
}
@media (max-width: 700px) {
  header {
    width:      400px;  /* prettier 2-line break */
    align-self: center;
  }
}
@media (max-width: 400px) {
  header {
    max-width:  100%;   /*  BUG: maintained prettier 2-line break before adjusting MAIN responsiveness */
  }
  h1 {
    font-size:  12vw;   /* 3rem/400px = 48px/400px = 0.12 */
  }
}

/* MAIN */
main {
  display:          flex;
  align-items:      flex-start;
  justify-content:  center;
  gap:              4rem;
}
section {
  flex:           0 1 auto;
  width:          auto;
  display:        flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  main {
    flex-direction: column;
    align-items:    center;
    gap:            1rem;
  }
  @media (min-width: 34rem  /* = 544px */) {
    section {
      width:           100%;
      flex-direction:  row;
      justify-content: center;
      gap:             2rem;
    }
    #h2-hack {
      margin-top: 0 !important;
    }
  }
}
@media (max-width: 17rem  /* = 272px */) {
  section h2 {
    font-size: calc(24 / 272 * 100vw);  /* 1.5rem = 24px */
  }
}

/* MAIN, .SECTION-INPUT */
.section-input {
  width:  15rem;
  flex:   0 1 auto;
}
  .section-input > * > * {
    width:  15rem;
    gap:    0.5rem;
  }
.article-modify-database {
  display:                grid;
  grid-template-columns:  auto auto;
  grid-template-rows:     auto auto;
}
  .article-modify-database input {
    grid-column: span 2;
  }
.article-search-database {
  display: flex;
}
  .article-search-database input {
    width: 100%;
  }
@media (max-width: 900px) {
  .section-input {
    width: auto;
  }
}
@media (max-width: 17rem /* = 272px */) {
  .section-input,
  .section-input > * > * {
    width:     100%;
    gap:       calc(8      / 272 * 100vw);
  }
  .section-input input {
    font-size: calc((80/6) / 272 * 100vw);  /* 0.83rem = (5/6)rem = (80/6)px */
  }
  .section-input button {
    font-size: calc(16     / 272 * 100vw);
  }
}

/* MAIN, .SECTION-OUTPUT */
.section-output {
  max-width: 32rem;
  width:     100%;
}
.console {
  height:       60vh;
  width:        100%;
  padding:      5px 10px;
  overflow:     auto;
  background:   #000;
  text-align:   left;
  white-space:  pre-wrap;
  font-family:  monospace;
  color:        #FFF;    
}
/* landscape tablets */
@media (max-height: 900px) {
  @media (min-width: 1000px) {
    .console {
      height: 50vh;
    }
  }
}

/* FOOTER */
footer p {
  color:            #ffffff40;
  display:          flex;
  align-items:      middle;
  justify-content:  center;
  font-size:        0.8rem;
  margin:           0.4rem;
}
footer a {
  color:  #ffffff80;
}
.author {
  will-change:  auto          !important;
  transition:   filter  300ms !important;
  transition:   color   300ms !important;
}
.author:hover {
  color:  #ffffff;
  filter: drop-shadow(0 0 0.5em #0048bb);
}
footer img {
  height:         1.5em;
  vertical-align: top;
  margin-left:    0.25em;
  opacity:        50%;
  will-change:    auto          !important;
  transition:     filter  300ms !important;
  transition:     opacity 300ms !important;
}
footer img:hover {
  opacity:  100%;
}
.vite:hover {
  filter: drop-shadow(0 0 0.75em #646cffff);
}
.react:hover {
  filter: drop-shadow(0 0 0.75em #61dafbff);
}
@keyframes logo-spin {
  from {
    transform:  rotate(0deg);
  }
  to {
    transform:  rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .react {
    animation:  logo-spin infinite 20s linear;
  }
}
.amplify:hover{
  filter: drop-shadow(0 0 0.75em #dd0000ff);
}
.lambda:hover{
  filter: drop-shadow(0 0 0.75em #994800ff);
}
.s3:hover{
  filter: drop-shadow(0 0 0.75em #007738ff);
}
.dynamodb:hover{
  filter: drop-shadow(0 0 0.75em #0000ffff);
}