#root {
  max-width:    1280px;
  margin:       0 auto;
  padding:      2rem;
  padding-top:  4rem;
  text-align:   center;
}

/* Top */
h1 {
  font-size:    3rem !important;
  line-height:  1;
  top:          0;
  left:         0;
  right:        0;
}

/* Middle */
.content-wrapper {
  display:          flex;
  justify-content:  space-between;
  align-items:      flex-start;
  flex-wrap:        wrap;
  gap:              4rem;
} 
.input-section {
  width:          auto;
  flex:           0 1 auto;
  flex-direction: column;
}
h2 {
  margin-bottom:  0.2rem;
}
.search-container {
  margin:           0 auto;
  display:          flex;
  justify-content:  center;
  gap:              0.5rem;
}
.search-inputs {
  display:        flex;
  flex-direction: column;
  align-items:    center;
}
.search-button {
  align-self: center;
}
.output-section {
  flex:   0 1 auto;
  width:  auto;
}
#console {
  min-width:    40vw;
  min-height:   40vh;
  overflow:     auto;
  margin:       4px;
  padding:      10px;
  background:   #000;
  color:        #FFF;    
  text-align:   left;
  font-family:  monospace;
  white-space:  pre-wrap;
}
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items:    center;
    gap:            2rem;
    width:          100%;
  }
  .output-section {
    width:  100%;
  }
  #console {
    min-width:  calc(100% - 4rem);
  }
}

/* Bottom */
.footer-wrapper {
  margin-top:     20vh;
}
.footer-wrapper p {
  color:            #ffffff40;
  display:          flex;
  align-items:      middle;
  justify-content:  center;
  font-size:        0.8rem;
  margin:           0.4rem;
}
.footer-wrapper a {
  color:  #ffffff80;
}
.author {
  will-change:  auto          !important;
  transition:   filter  300ms !important;
  transition:   color   300ms !important;
}
.author:hover {
  color:  #ffffff;
  filter: drop-shadow(0 0 0.5em #0048bb);
}
/* Bottom, Logos */
.footer-wrapper img {
  height:         1.5em;
  vertical-align: top;
  margin-left:    0.25em;
  opacity:        50%;
  will-change:    auto          !important;
  transition:     filter  300ms !important;
  transition:     opacity 300ms !important;
}
.footer-wrapper img:hover {
  opacity:  100%;
}
.vite:hover {
  filter: drop-shadow(0 0 0.75em #646cffff);
}
.react:hover {
  filter: drop-shadow(0 0 0.75em #61dafbff);
}
@keyframes logo-spin {
  from {
    transform:  rotate(0deg);
  }
  to {
    transform:  rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .react {
    animation:  logo-spin infinite 20s linear;
  }
}
.amplify:hover{
  filter: drop-shadow(0 0 0.75em #dd0000ff);
}
.lambda:hover{
  filter: drop-shadow(0 0 0.75em #994800ff);
}
.s3:hover{
  filter: drop-shadow(0 0 0.75em #007738ff);
}
.dynamodb:hover{
  filter: drop-shadow(0 0 0.75em #0000ffff);
}